.main-content {
  max-width: 100%;
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

.main-content::-webkit-scrollbar {
  display: none;
}

#home-sec {
  margin-bottom: 110px;
}

section {
  width: 100%;
  margin-bottom: 30px;
}

.intro-header {
  width: 100%;
  margin-bottom: 30px;
  h2 {
    font-weight: 100;
  }
  .text {
    width: 100%;
    line-height: 7em;
  }
  .text .top-h1 {
    text-align: left;
    font-size: 5em;
    font-weight: 600;
  }
  .text .bottom-h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 600;
  }
  .text .bottom-h1 span {
    color: #ffae00;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
  }
}

.certificates-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-image-card {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(81, 76, 76, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: 0.4s;
  h1 {
    font-size: 2em;
    line-height: 2em;
  }
  p {
    line-height: 1.5em;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.text-image-card:hover {
  transform: translateY(-5px) !important;
  border: 1px solid yellowgreen;
}

.text-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgba(81, 76, 76, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: 0.4s;
  h1 {
    font-size: 2em !important;
    line-height: 1.2em !important;
  }
  p {
    line-height: 1.6em !important;
  }
}

.text-card:hover {
  transform: translateY(-5px) !important;
  border: 1px solid yellowgreen;
}

.icon-card {
  width: 48%;
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 5px;
  background-color: rgba(81, 76, 76, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: 0.4s;
  .texts {
    line-height: 3em;
  }
  .texts h1 {
    font-size: 1.3em;
  }
  .texts p {
    line-height: 1.5em;
  }
}

.icon-card:hover {
  transform: translateY(-5px) !important;
  border: 1px solid yellowgreen;
}

.icon-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin: 20px 0;
}

.skill-card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 25px 10px;
  margin-bottom: 20px;
  background-color: rgba(81, 76, 76, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: 0.4s;
  .skill-icon {
    padding: 20px;
    background-color: rgba(81, 76, 76, 0.5);
    border: none;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-size: 2em;
  }
  p {
    opacity: 1;
  }
}

.skill-card:hover {
  transform: translateY(-5px) !important;
  border: 1px solid yellowgreen;
}

.skill-cards-box {
  display: flex;
  justify-content: space-between;
  .skill-cards-container {
    margin: 20px 0;
  }
}

.main-content footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 40px;
    font-family: "playfair-display", serif;
    font-style: italic;
    transition: 0.4s;
    cursor: pointer;
  }
  h1:hover {
    color: #ffae00;
  }
}
