.main-card {
  height: 82vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(81, 76, 76, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px 20px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.main-card .main-card-picture {
  width: 100%;
  height: 40%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.4s;
  }
}

.main-card .main-card-picture img:hover {
  filter: brightness(70%);
  transform: scale(1.01);
}

.main-card .main-card-text {
  text-align: center;
  margin-top: 10px;
}

.main-card .main-card-text h1 {
  font-size: clamp(1.1rem, 5vw, 2.1rem);
  transition: 0.4s;
}

.main-card .main-card-text h1:hover {
  color: #ffae00;
}

.main-card .main-card-text p {
  line-height: 1.6em;
}

.main-card .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  div {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: 0.7s;
    .social-media-icon {
      width: 100%;
      height: 100%;
      transition: 0.7s;
    }
    svg {
      transition: 0.7s;
    }
  }
}

.main-card .icons div:hover {
  background-color: #ffae00;
  cursor: pointer;
  border: 1px solid transparent;
  .social-media-icon {
    color: #000;
  }
  #twitter path {
    fill: #000;
  }
  #instagram path {
    fill: transparent;
    stroke: #000;
  }
  #facebook path {
    fill: #000;
    stroke: #000;
  }
  #linkedin path {
    stroke: #000;
  }
}

.main-card .download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #ffae00;
  color: #0e161f;
  padding: 16px 20px;
  margin: 20px 0 10px 0;
  border: 1px solid #ffae00;
  border-radius: 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.4s ease;
}

.main-card .download-cv:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

/* mobile */
@media (max-width: 768px) {
  .main-card {
    height: 60vh;
    margin-bottom: 50px;
    .main-card-picture {
      height: 50%;
    }
  }
  .main-card .main-card-text {
    p {
      display: none;
    }
  }
  .main-card .icons {
    div {
      width: 35px;
      height: 35px;
    }
  }
}
/* tablets */
@media (max-width: 1380px) {
  .main-card {
    height: 60vh;
    margin-bottom: 50px;
    .main-card-picture {
      height: 50%;
    }
  }
  .main-card .main-card-text {
    p {
      line-height: 1.4em;
    }
  }
  .main-card .icons {
    div {
      width: 40px;
      height: 40px;
    }
  }
}
@media (max-width: 1176px) {
  .main-card {
    height: 60vh;
    margin-bottom: 50px;
    .main-card-picture {
      height: 50%;
    }
  }
  .main-card .main-card-text {
    p {
      line-height: 1.5em;
    }
  }
  .main-card .icons {
    div {
      width: 45px;
      height: 45px;
    }
  }
}
