.portfolio-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
  a {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease, filter 0.4s ease;
      object-fit: cover;
      filter: brightness(60%);
    }
  }

  .project-title {
    font-size: 1.3em;
    transition: 0.4s;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .project-type {
    font-size: 0.8em;
    color: #888;
  }

  .project-link {
    font-size: 0.8em;
    transition: 0.4s;
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s;
  }

  .project-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.portfolio-card a img:hover {
  transform: scale(1.03);
  filter: brightness(100%);
}
